@import "tailwindcss/preflight.css" layer(base);
@import "../src/theme.css";

@layer base {
  html {
    /* Use a bold color to clearly show cases where we've forgotten to set text color. */
    color: #ff00ff;
  }
}
